@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500');

$font-stack: 'Raleway', sans-serif;
$primary-color: #000;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #444;
    font-family: $font-stack;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

header {
    color: #fff;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/earth.jpg);
    background-size: cover;
    background-position: top;
    height: 650px;
    background-attachment: fixed;
    h1 {
        text-transform: uppercase;
        font-size: 200%;
        font-weight: 200;
        letter-spacing: 2px;
        padding-top: 20px;
        position: absolute;
        top: 20px;
        left: 50%;
        width: 600px;
        margin-left: -150px;
    }
    nav {
        position: absolute;
        top: 34px;
        margin-right: 15px;
        text-align: center;
        li {
            display: inline-block;
            margin-right: 25px;
            &:last-child {
                margin-right: 0;
            }
            a {
                font-size: 80%;
                text-decoration: none;
                color: inherit;
            }
        }
    }
}

section {
    padding: 105px 0px;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.group::after {
    content: "";
    display: table;
    clear: both;
}

/////////////////////////////////////////////////////////
// OWENS STUFF

* {
    box-sizing: border-box;
}

.wrapper {
    margin: 0;
    width: 100%
}

.cardimage {
    width: 100%
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.float {
    float: left;
}

header {
    background: #033f67;
    width: 100%;
    height: 200px;
    padding: 50px;
    display: inline-block;
}

header div {
    display: inline-block;
}

header nav {
    color: black;
    text-decoration-style: none;
    font-size: 30px;
    display: inline-block;

}

header h1 {
    display: inline-block;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    color: aqua;
    text-decoration: none;
    padding: 20px;
}

header div.header h1 {
    text-align: left;
}

.image {
    max-width: 100%;
    margin: 0;
    background-image: url(./img/ice.jpg);
    height: 200px;
}

.bulk {
    background-color: #efefef;
    width: 100%;
    margin: 0;
}

body {
    margin: 0;
}

body article.evidence {
    width: 33.33%;
    background-color: #ffffff;
    margin: 5%;
    align-content: center;
    width: 40%;
    height: 470px;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

body article.evidence h3 {
    text-align: center;
}

body article.evidence p {
    padding: 10px;
}

.white {
    background-color: #ffffff;
    padding: 20px;
    
}

.blue {
    background-color: #dae3e8;
    
}