@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500');

$font-stack: 'Raleway',
sans-serif;
$primary-color: #000;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #444;
    font-family: $font-stack;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

section {
    padding: 105px 0px;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.group::after {
    content: "";
    display: table;
    clear: both;
}

/////////////////////////////////////////////////////////////////////////
// Headings
h1 {
    text-transform: uppercase;
    font-size: 350%;
    font-weight: 200;
    letter-spacing: 3px;
}

h3 {
    text-transform: uppercase;
    font-weight: 400;
}

p {
    font-size: 16px;
    line-height: 150%;
}

header {
    color: #fff;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/earth.jpg);
    background-size: cover;
    background-position: top;
    height: 500px;
    background-attachment: fixed;
    h1 {
        padding-top: 120px;
        text-align: center;
    }
    nav {
        padding-top: 50px;
        text-align: center;
        li {
            display: inline-block;
            margin-right: 50px;
            &:last-child {
                margin-right: 0;
            }
            a {
                font-size: 90%;
                text-decoration: none;
                color: inherit;
            }
        }
    }
}

